@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v11/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
.navFont {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  background: white;
}
.navbar {
  width: 85%;
  margin: 0 auto;
  height: 70px;
  background: #c2a164;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.6rem;
  position: fixed;
  top: 0;
  left: 7.5%;
}
.navbar .nav__logo {
  margin-right: auto;
  font-size: 3.2rem;
  color: white;
  font-family: 'Varela Round', sans-serif;
}
.navbar .nav__logo i {
  font-size: 2.8rem;
}
.navbar .nav__links {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.navbar .nav__links .nav__link {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
#marketing {
  height: 100%;
  width: 85%;
  margin: 0 auto;
  padding-top: 70px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65% 35%;
  grid-template-areas: 'cta' 'description';
}
#marketing .cta {
  background: url(../images/cta2.jpg);
  background-size: cover;
  background-position: 0 35%;
  border-radius: 0 0 5px 5px;
  filter: grayscale(40%);
}
#marketing .cta .cta__text {
  filter: none;
  color: black;
  font-family: 'Varela Round', sans-serif;
  font-size: 5rem;
  position: absolute;
  right: 8.4rem;
  top: 3.2rem;
}
#marketing .cta .cta__text .cta__text-description {
  font-size: 1.6rem;
  margin-top: 1rem;
}
