#marketing {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 35%;
    grid-template-areas: 'cta'
                         'description';

    .cta {
        background: url(../images/cta2.jpg);
        background-size: cover;
        background-position: 0 35%;
        border-radius: 0 0 5px 5px;
        filter: grayscale(40%);

        .cta__text {
            filter: none;
            color: black;
            font-family: 'Varela Round', sans-serif;
            font-size: 5rem;
            position: absolute;
            right: 8.4rem;
            top: 3.2rem;

            .cta__text-description {
                font-size: 1.6rem;
                margin-top: 1rem;
            }
        }
    }
}