#marketing {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 30%;
    grid-row-gap: 1rem;
    grid-template-areas: 'cta'
                         'description';

    .cta {
        background: url(../images/cta2.jpg);
        background-size: cover;
        background-position: 0 35%;
        border-radius: 0 0 5px 5px;
        filter: grayscale(40%);

        .cta__text {
            filter: none;
            color: black;
            font-family: 'Varela Round', sans-serif;
            font-size: 5rem;
            position: absolute;
            right: 8.4rem;
            top: 3.2rem;

            .cta__text-description {
                font-size: 1.6rem;
                margin-top: 1rem;
            }
        }
    }

    .services {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2.5rem;

        .services__item {
            .displayFlex(column, flex-start);
            padding: 1.5rem;

            .services__title {
                margin: 1rem 0;
                font-size: 2rem;
                font-family: 'Varela Round', sans-serif;
                text-transform: uppercase;
                text-align: center;

                i {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }
            }

            .services__description {
                font-size: 1.4rem;
                font-family: 'Varela Round', sans-serif;
                line-height: 2rem;
                text-align: center;
            }
        }
    }
}